<div class="large-8 columns" id="videos">
  <div class="row">
    <h1>Formulário de criação de vídeo</h1>
    <%= simple_form_for @video do |f| %>
     <div class="row">
        <div class="large-12 columns">          
          <%= f.association :category, label: 'Categoria do Video' %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">          
          <%= f.input :youtube_id , label: 'Id do video do Youtube'%>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">          
          <%= f.input :tag_list , label: "Tags (separar por vírgula)" %>
        </div>
      </div>

      <%= f.submit 'Criar Video', class: :button %>
    <% end %>
  </div>
</div>