<div class="large-8 columns" id="videos">

  <div class="row">
    <div class='large-12 small-12 columns'>
      <h2>Filtros</h2>
      <div id="tag_cloud">
        <% tag_cloud Video.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <% @videos.each do |video| %>
      <%= link_to video_path(video), class: 'large-6 small-6 columns' do %>
        <%= image_tag video.thumbnail_url %>
        <div class="panel">
          <h5><%= video.title %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @videos %>
</div>

